@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Syne:wght@400;500;600;700;800&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&family=Yanone+Kaffeesatz:wght@700&display=swap");

.centered {
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
}

.paradox1 {
  height: 130px;
}

.row2 {
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 700;
}

/* yt embed */

.video-responsive {
  overflow: hidden;
  padding-bottom: 26%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 335px;
  top: 0;
  height: 90%;
  width: 50.5%;
  position: absolute;
}

@media only screen and (min-width: 1560px) {
  .centered {
    top: 55%;
  }

  .video-responsive iframe {
    left: 490px;
    width: 50%;
  }
}
